.todo-info {
  // .todo-info__item

  &__item {
    margin: 0px 0px 0.2rem 0px;
    padding: 0.1rem;
  }
}
.item-info {
  // .item-info__title

  &__title {
    font-size: 1.02rem;
  }

  // .item-info__value

  &__value {
  }
}
